@model MySocialNetwork.ViewModels.StatusViewModel

@{
    ViewBag.Title = "Home";
}

@using (Html.BeginForm("Add", "Status"))
{
    <fieldset>
        <legend>Update your status</legend>
        @Html.LabelFor(m => m.Message)
        @Html.TextBoxFor(m => m.Message)
        <input type="submit" value="Update" />
    </fieldset>
}

<ul>
    @foreach (var status in Model.Status)
    {
        <li>
            @Html.LabelFor(m => status.Author.Name)
            @Html.DisplayFor(m => status.Author.Name)
        </li>
        <li>
            @Html.LabelFor(m => status.DateTime)
            @Html.DisplayFor(m => status.DateTime)
        </li>
        <li>
            @Html.LabelFor(m => status.Message)
            @Html.DisplayFor(m => status.Message)
        </li>
        <li>
            @Html.Action("Index", "Comment", new { statusId = status.Id })
        </li>
    }
</ul>
