@model MySocialNetwork.ViewModels.StatusIndexViewModel

@{
    ViewBag.Title = "Status";
}

@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.StatusMessage)
    @Html.TextBoxFor(m => m.StatusMessage)
    <input type="submit" value="Post" />
}

<ul>
    @foreach (var status in Model.Status)
    {
        <li>
            @Html.LabelFor(m => status.User.Name)
            @Html.DisplayFor(m => status.User.Name)
        </li>
        <li>
            @Html.LabelFor(m => status.DateTime)
            @Html.DisplayFor(m => status.DateTime)
        </li>
        <li>
            @Html.LabelFor(m => status.Message)
            @Html.DisplayFor(m => status.Message)
        </li>
    }
</ul>
