@model MySocialNetwork.Models.Comment

<li>
    <div class="float-left">
        <span class="author">
            @Html.DisplayFor(m => m.Author.FullName)
        </span>
        <span class="datetime">
            @Html.DisplayFor(m => m.DateTime)
        </span>
        <div class="message">
            @Html.DisplayFor(m => m.Message)
        </div>

        @using (Ajax.BeginForm("UpdateComment", "News", null,
            new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "comments-" + Model.Status.Id,
                OnComplete = "OnComplete"
            }, new { @class = "update" }))
        {
            @Html.HiddenFor(m => m.Id)
            @Html.TextBoxFor(m => m.Message)
            <input type="submit" value="Update" />
        }
    </div>

    <div class="float-right">
        @if (Model.IsUpdatable)
        {
            <button class="edit">Edit</button>
        }

        @if (Model.IsDeletable)
        {
            @using (Ajax.BeginForm("RemoveComment", "News", null,
                new AjaxOptions
                {
                    HttpMethod = "post",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "comments-" + Model.Status.Id
                }, new { @class = "delete" }))
            {
                @Html.HiddenFor(m => m.Id)
                <input type="submit" value="Delete" />
            }
        }
    </div>

    <div class="clear-both"></div>
</li>