@model MySocialNetwork.Models.Status

<li>
    <div class="float-left">
        <span class="author">
            @Html.DisplayFor(m => m.Author.FullName)
        </span>
        <span class="datetime">
            @Html.DisplayFor(m => m.DateTime)
        </span>

        <div class="text">
            @Html.DisplayFor(m => m.Text)
        </div>
    </div>

    <div class="float-right">
        @if (Model.IsDeletable)
        {
            using (Ajax.BeginForm("RemoveStatus", "News", null,
                new AjaxOptions
                {
                    HttpMethod = "post",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "statuses",
                    OnComplete = "onRemoveStatusComplete"
                }, new { @class = "delete" }))
            {
                @Html.HiddenFor(m => m.Id)
                <input type="submit" value="Delete" />
            }
        }
    </div>

    <div class="clear-both"></div>

    <section id="comment-@Model.Id" class="comment">
        <ul id="comments-@Model.Id">
            @Html.Partial("CommentsPartial", Model.Comments)
        </ul>

        @using (Ajax.BeginForm("AddComment",
            new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.InsertAfter,
                UpdateTargetId = "comments-" + Model.Id,
                OnComplete = "onAddCommentComplete('#comment-" + @Model.Id + "')"
            }))
        {
            @Html.HiddenFor(m => m.Id)
            <input type="text" name="text" placeholder="Text" />
            <input type="submit" value="Comment" />
        }
    </section>
</li>
