@model MySocialNetwork.ViewModels.CommentViewModel

@using (Html.BeginForm("Add", "Comment"))
{
    <fieldset>
        <legend>Comment the status</legend>
        @Html.LabelFor(m => m.Message)
        @Html.TextBoxFor(m => m.Message)
        <input type="hidden" name="statusId" value="@Model.Status.Id" />
        <input type="submit" value="Comment" />
    </fieldset>
}

<ul>
@foreach (var comment in Model.Comments)
{
    <li>
        @Html.LabelFor(m => comment.Author.Name)
        @Html.DisplayFor(m => comment.Author.Name)
    </li>
    <li>
        @Html.LabelFor(m => comment.DateTime)
        @Html.DisplayFor(m => comment.DateTime)
    </li>
    <li>
        @Html.LabelFor(m => comment.Message)
        @Html.DisplayFor(m => comment.Message)
    </li>
}
</ul>