@model MySocialNetwork.ViewModels.CommentViewModel

<section class="comment">
    <ul>
        @foreach (var comment in Model.Comments)
        {
            <li>
                <div class="float-left">
                    <span class="author">@Html.DisplayFor(m => comment.Author.Name)</span>
                    <span class="datetime">@Html.DisplayFor(m => comment.DateTime)</span>
                    <div class="message">
                        @Html.DisplayFor(m => comment.Message)
                    </div>
                </div>

                <div class="float-right">
                    @if (comment.IsDeletable)
                    {
                        using (Html.BeginForm("Delete", "Comment"))
                        {
                            <input type="hidden" name="id" value="@comment.Id" />
                            <input type="submit" value="Delete" />
                        }
                    }
                </div>

                <div class="clear-both"></div>
            </li>
        }
    </ul>

    @using (Html.BeginForm("Add", "Comment"))
    {
        <input type="hidden" name="statusId" value="@Model.Status.Id" />
        <input type="text" name="message" placeholder="Comment" />
        <input type="submit" value="Add" />
    }
</section>
