@model MySocialNetwork.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "vertical-form" }))
{
    @Html.ValidationSummary(true);
        
    <fieldset>
        <legend>Log in</legend>
        <ul>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </li>
        </ul>
        <input type="submit" value="Log in" />
    </fieldset>
}